<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Ticket {{ticketNum}} ({{issuedBy}}, {{lastEditBy}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!--company, called in by-->
    <ion-row>
      <ion-col size-xl="2">
        <ion-item>
          <ion-label ><b>{{companyName}}</b></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
        <ion-item>
          <ion-label ><b>{{calledInBy}}</b></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--address from-->
    <ion-row>
      <ion-col size-xl="3">
        <ion-item>
          <input 
            id="input-address-from" 
            value="{{inputAddressFrom}}"
            placeholder="Address From"  
            class="native-input sc-ion-input-md" 
            autocomplete="off">
        </ion-item>
      </ion-col>
      <ion-col size-xl="2">
        <ion-item>
          <ion-datetime-button datetime="pick-datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
          <ng-template>
          <ion-datetime 
            id="pick-datetime" 
            [(ngModel)]="pickDateTime" 
            [firstDayOfWeek]="1" 
            (ionChange)="updatePickDateTime()"
            hour-cycle="h24"
            minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
            ></ion-datetime>
          </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--address to-->
    <ion-row>
      <ion-col size-xl="3">
        <ion-item>
          <input 
              id="input-address-to" 
              value="{{inputAddressTo}}"
              placeholder="Address To"  
              class="native-input sc-ion-input-md" 
              autocomplete="off">
        </ion-item>
      </ion-col>
      <ion-col size-xl="2">
        <ion-item>
          <ion-datetime-button datetime="delivery-datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
          <ng-template>
          <ion-datetime 
            id="delivery-datetime" 
            [(ngModel)]="deliveryDateTime" 
            [firstDayOfWeek]="1" 
            (ionChange)="updateDeliveryDateTime()"
            hour-cycle="h24"
            minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
           ></ion-datetime>
          </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
    </ion-row> 
    <!--truck, driver, assigned truck-->
    <ion-row>
      <ion-col size-xl="2">
        <ion-item color="{{itemColorTruck}}">
          <select  id="select-truck" class="native-input sc-ion-input-md" >
            <option value="1">Pickup Truck</option>
            <option value="2">Box Truck</option>
            <option value="3">24 Foot Truck</option>
            <option value="4">30 Foot Truck</option>
            <option value="5">40 Foot Truck</option>
          </select>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
        <ion-item color="{{itemColorDriver}}">
          <select  id="select-driver" class="native-input sc-ion-input-md" >
            <option value="0">-- Driver --</option>
            <option *ngFor="let driver of arrDrivers" value="{{driver.id}}">{{driver.firstname}} {{driver.lastname}}</option>
          </select>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
      <ion-item color="{{itemColorAssigned}}">
        <select  id="select-assigned-truck" class="native-input sc-ion-input-md" >
          <option value="-1">-- Truck --</option>
          <option *ngFor="let truck of arrAssignedTrucks" value="{{truck.id}}">{{truck.truck_name}}</option>
        </select>
      </ion-item>
      </ion-col>
    </ion-row>
    <!--type, stop-->
    <ion-row>
      <ion-col size-xl="1">
        <ion-item color="{{itemColorType}}">
         <select  id="select-type" class="native-input sc-ion-input-md" > 
          <option value="1" >4 Hr</option>
          <option value="2" >Priority</option>
          <option value="3">Freight</option>
         </select>
        </ion-item>
      </ion-col>
      <!--stop-->
      <ion-col size-xl="1">
        <ion-item color="{{itemColorStop}}">
          <select disabled id="select-stop" class="native-input sc-ion-input-md">
            <option value="0">Single stop</option>
            <option value="1">1st Stop</option>
            <option value="2">2nd Stop</option>
            <option value="3">3rd Stop</option>
            <option value="4">4th Stop</option>
            <option value="5">5th Stop</option>
          </select>
        </ion-item>
      </ion-col>
      <!--last stop-->
      <ion-col size-xl="1">
        <ion-item lines="full">
          <ion-label class="ion-text-nowrap">Last Stop</ion-label>
          <ion-checkbox 
            color="secondary" 
            slot="start" 
            [(ngModel)]='checkLastStop'
            (ionChange)="getFinalMileage()"
            ></ion-checkbox>
        </ion-item>
      </ion-col>
      <!--return-->
      <ion-col size-xl="1">
        <ion-item lines="full">
          <ion-checkbox 
            color="secondary" 
            labelPlacement="end" 
            justify="start" 
            [(ngModel)]='checkReturn' 
            (ionChange)="calcCost()">Return</ion-checkbox>
        </ion-item>
      </ion-col>
      <!--dry run-->
      <ion-col size-xl="1">
        <ion-item lines="full">
          <ion-checkbox 
            color="secondary" 
            labelPlacement="end" 
            justify="start" 
            [(ngModel)]='checkDryRun'
            (ionChange)="calcCost()">Dry Run</ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--material -->
    <ion-row *ngFor="let item of material; index as i">
      <ion-col size-xl="1">
        <ion-input 
          label="Count {{i+1}}" 
          label-placement="floating"
          type="number"
          min="0"
          fill="outline" 
          [(ngModel)]="material[i].count"
          (ionBlur)="calcTotalWeight()"
        >
        </ion-input>
      </ion-col>
      <ion-col size-xl="2">
        <ion-input label="Material {{i+1}}" label-placement="floating" fill="outline" [(ngModel)]="item.material" >
        </ion-input>
      </ion-col>
      <ion-col size-xl="1">
        <ion-input label="Dimenstions {{i+1}}" label-placement="floating" fill="outline" [(ngModel)]="item.dimensions">
        </ion-input>
      </ion-col>
      <ion-col size-xl="1">
        <ion-input label="Weight {{i+1}}" label-placement="floating" fill="outline" [(ngModel)]="item.weight" (ionBlur)="calcTotalWeight()">
        </ion-input>
      </ion-col>
      <ion-col size-xl="1">
        <ion-input label="Total Weight {{i+1}}" label-placement="floating" fill="outline" [(ngModel)]="material[i].total_weight" (ionBlur)="calcTotalWeight()">
        </ion-input>
      </ion-col>
    </ion-row>
     <!--add/remove material line-->
     <ion-row>
      <ion-col>
        <ion-button (click)="addMaterial()">
          <ion-icon name="add" ></ion-icon>
        </ion-button>
        <ion-button (click)="removeMaterial()">
          <ion-icon name="remove" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <!--Freight-->
    <!--
    <ion-row>
      <ion-col size-xl="1">
       <ion-item lines="full">
         <ion-label class="ion-text-nowrap">Freight</ion-label>
         <ion-checkbox color="secondary" slot="start" [(ngModel)]='checkFreight'></ion-checkbox>
       </ion-item>
      </ion-col>
     </ion-row>
    -->
    
    <!--large bundle, small bundle-->
    <ion-row>
      <!--<ion-col size-xl="1">
        <ion-item lines="full">
          <ion-checkbox color="secondary" label-placement="end" [(ngModel)]='checkLBundle' >L. Bundle</ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
        <ion-item lines="full">
          <ion-checkbox color="secondary" label-placement="end" [(ngModel)]='checkSBundle'>S. Bundle</ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2">
        <ion-item lines="full">
          <input type="file" (change)="onFileChange($event)" name="fileToUpload" id="fileToUpload">
        </ion-item>
      </ion-col>-->
    </ion-row>
    <!--shipping, miles, weight-->
    <ion-row>
      <ion-col size-xl="1">
        <ion-item>
          <ion-label position="floating">Shipping</ion-label>
          <ion-input [(ngModel)]='inputShipping'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
        <ion-item>
          <ion-label position="floating">Wait Time</ion-label>
          <ion-input [(ngModel)]='inputWaitTime' (ionBlur)="calcCost()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
        <ion-item>
          <ion-label position="floating" >Miles</ion-label>
          <ion-input id="input-miles" type="number" min='0' [(ngModel)]='inputMiles' (ionBlur)="calcCost()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
        <ion-item>
          <ion-label position="floating" >Weight</ion-label>
          <ion-input disabled type="number" min='0' [(ngModel)]='inputWeight' ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
   <!--notes, discount, cost-->
    <ion-row>
      <ion-col size-xl="2">
        <ion-item>
          <ion-label position="floating">Notes</ion-label>
          <ion-input [(ngModel)]='inputDetails'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1">
      <ion-item>
          <ion-label position="floating">Discount</ion-label>
        <ion-input  [(ngModel)]="inputDiscount"></ion-input>
      </ion-item>
      </ion-col>
      <ion-col size-xl="1">
        <ion-item>
          <ion-label position="floating">Cost</ion-label>
        <ion-input  
          [(ngModel)]="inputCost" 
          class="{{inputCostClass}}" 
          (ionChange)="setInputCostOverride(true)"
        ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
     <!--internal notes-->
     <ion-row>
      <ion-col size-xl="2">
        <ion-item>
          <ion-label color="danger" position="floating">Internal Notes</ion-label>
          <ion-input [(ngModel)]='inputInternalNotes'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--buttons-->
    <ion-row>
      <ion-col size="auto">
        <ion-button (click)='updateTicket(0)' disabled="{{isAccepted=='1'}}">Update</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)='cancelUpdateTicket()'>Cancel</ion-button>
      </ion-col>
      <!--signature-->
      <ion-col size="auto">
        <ion-button id="button-signature" expand="block" disabled='{{ticketDroppedTime==null}}'>Signature</ion-button>
      </ion-col>
      <!--pickup photos-->
       <ion-col size="auto">
        <ion-button id="button-pickup-photos" expand="block">Pickup</ion-button>
      </ion-col>
      <!--dropoff photos-->
      <ion-col size="auto">
        <ion-button id="button-dropoff-photos" expand="block">Drop Off</ion-button>
      </ion-col>
      <!--priced-->
      <ion-col size="auto" *ngIf="(isApprover=='1')">
        <ion-button color="danger" (click)='acceptTicket()' disabled="{{isAccepted=='1' ||inputCost==0 || selectDriverId=='0' || timeDroppedShort==null}}">Priced</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-modal id="signature-modal" #modal trigger="button-signature">
    <ng-template>
      <div class="wrapper">
        <ion-img src="{{signature_url}}" (click)="modal.dismiss()"></ion-img>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal id="pickup-photos-modal" #modal trigger="button-pickup-photos">
    <ng-template>
      <swiper-container [pagination]="true">
        <swiper-slide>
          <img height="90%" src="{{pickup_photo_url}}">
        </swiper-slide>
        <swiper-slide>
          <img height="90%" src="{{pickup_photo_url}}">
        </swiper-slide>
        <swiper-slide>
          <img height="90%" src="{{pickup_photo_url}}">
        </swiper-slide>
      </swiper-container>
    </ng-template>
  </ion-modal>
  <ion-modal id="dropoff-photos-modal" #modal trigger="button-dropoff-photos">
    <ng-template>
      <swiper-container [pagination]="true">
        <swiper-slide>
          <img height="90%" src="{{dropoff_photo_url}}">
        </swiper-slide>
        <swiper-slide>
          <img height="90%" src="{{dropoff_photo_url}}">
        </swiper-slide>
        <swiper-slide>
          <img height="90%" src="{{dropoff_photo_url}}">
        </swiper-slide>
      </swiper-container>
    </ng-template>
  </ion-modal>
</ion-content>
