<app-header></app-header>
<ion-content [fullscreen]="true" >
    <ion-grid >
      <ion-row color="primary" class="bottom-line ">
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              TICKET #
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              COMPANY
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              TRUCK
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="2">
          <ion-item lines="none">
            <ion-label class="ion-text-center">
              FROM/TO
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              SHIPPING
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              TYPE
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              DRIVER
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              COST
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              PCK/DRP
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              NOTES
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button (click)="confirmTransferTickets()" color="tertiary">
            TRANSFER
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let ticket of jsonData; index as i;" class="bottom-line ">
        <ion-col size-xl="1">
          <ion-button  href="/edit-ticket/{{ticket.ticket_num}}" color={{ticket.info_color}}>
            {{ticket.ticket_num}}
            <br>{{ticket.time_issued_short}}
          </ion-button>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              {{ticket.company_name}}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
               {{ticket.vehicle_name}}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="2">
          <ion-item lines="none">
            <ion-label color="success">
              {{ticket.address_from}}
            </ion-label>
              &#x27A1; &nbsp;
            <ion-label color="danger">
              {{ticket.address_to}}
            </ion-label>
          </ion-item>
         </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              {{ticket.shipping}}
            </ion-label>
          </ion-item>
        </ion-col>
        <!--type, stop, return, dry run symbols-->
        <ion-col size-xl="1">
          <ion-item lines="none">
              <img src="../../assets/images/type-{{ticket.type_id}}.png?time=12343" height="30px">
              <img src="../../assets/images//{{arr_medals[ticket.stop_id]}}?time=12345" height="30px">
              <img src="../../assets/images/registered_ae-fe0f.png?time=12345" height="30px" *ngIf="ticket.is_return==1">
              <img src="../../assets/images/cross-mark-button_274e.png?time=12345" height="30px" *ngIf="ticket.is_dry_run==1">
          </ion-item>
        </ion-col>
        <!--driver-->
        <ion-col size-xl="1">
          <ion-item lines="none" *ngIf="ticket.driver_id">
            <label >
            {{ticket.driver_name}}
          </label>
          </ion-item>
        </ion-col>
        <!--cost-->
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label color="{{ticket.cost_color}}">
              ${{ticket.total}}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <!--<div *ngIf="ticket.time_arrived_to_pick_short==null && ticket.driver_id">
            <ion-button  (click)="setArrivedToPickTime(ticket.ticket_id)">Arrive</ion-button>
          </div>-->
          <ion-item lines="none">
             <ion-label>
              PICK: {{ticket.time_picked_short}}
              <br>
              DROP: {{ticket.time_dropped_short}}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="1">
          <ion-item lines="none">
            <ion-label>
              {{ticket.details}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>