<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
     <ion-input [(ngModel)]="text" 
     (ionInput)="handleInput($event)"
     (ionFocus)="showDropDown=true"
     (ionBlur)="setText()">
    </ion-input>
  </ion-item>
  <ion-list *ngIf="showDropDown && results.length<3">
    <ion-item *ngFor="let result of results">
      <ion-label>{{ result }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-input>
      hello
    </ion-input>
  </ion-item>
</ion-content>
